<!-- <ion-content class="">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Login</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Password"></ion-input>
          </ion-item>
        </div>

        <div padding>
          <ion-button size="large" href="" expand="block">Login</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<ion-content>
  <!-- <span class="logo">Boots on Ground</span>
  <div class="login-div">
    <form [formGroup]="signInForm" id="signInForm" (ngSubmit)="signInWithUserCredentials()">
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input class="login-input" value="user@bog.com" type="email" formControlName="email" name="email" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input class="login-input" value="123456" type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="ion-padding">
        <ion-button expand="block" class="ion-no-margin" (click)="signInWithUserCredentials()" color="primary">Sign In
        </ion-button>
      </div>
    </form>

    <div (click)="login()" class="google-btn">
      <div class="google-icon-wrapper">
        <img class="google-icon" src="../../../assets/svg/google-signin.svg" />
      </div>
      <p class="btn-text"><b>Sign in with google</b></p>
    </div>
  </div> -->

  <img class="wave" src="../../../assets/img/wave.png">
  <div class="container">
    <div class="img">
      <img src="../../../assets/svg/bg.svg">
    </div>
    <div class="login-content">
      <form [formGroup]="signInForm" id="signInForm" (ngSubmit)="signInWithUserCredentials()">
        <img src="../../../assets/svg/avatar.svg">
        <h2 class="title">Welcome</h2>
        <div class="input-div one">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div>
            <ion-input (ionFocus)="focusFunction($event)" (ionBlur)="focusOutFunction($event)" formControlName="email"
              placeholder="Username" name="email" type="text" class="input">
            </ion-input>
          </div>
        </div>
        <div class="input-div pass">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div>
            <ion-input (ionFocus)="focusFunction($event)" (ionBlur)="focusOutFunction($event)" placeholder="Password"
              formControlName="password" name="password" type="password" class="input">
            </ion-input>
          </div>
        </div>
        <a href="#">Forgot Password?</a>
        <ion-input type="submit" class="btn" value="Login">
        </ion-input>
        <div (click)="login()" class="google-btn">
          <div class="google-icon-wrapper">
            <img class="google-icon" src="../../../assets/svg/google-signin.svg" />
          </div>
          <p class="btn-text"><b>Sign in with google</b></p>
        </div>
      </form>

    </div>
  </div>
</ion-content>