<ion-header>
  <ion-toolbar class="home-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-avatar (click)="openPopOver($event)" class="cls-avatar" slot="end">
      <img src="{{loginProfilePic}}">
    </ion-avatar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides #slides effect="coverflow" (ionSlideAfterInit)="ionSlideAfterInit()"
    (ionSlideDidChange)="slideChanged(slides)">
    <ion-slide *ngFor="let item of mainPredictionArray">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{item.header}}</ion-card-subtitle>
          <ion-card-title>{{item.title}}</ion-card-title>
        </ion-card-header>
        <img class="card-img" src="{{item.predictionImageURL}}" />
        <ion-card-content>
          {{item.subject}}
        </ion-card-content>
        <ion-item>
          <ion-button color="light" slot="start">
            <ion-icon name="thumbs-up-outline"></ion-icon>
          </ion-button>
          <ion-button color="light" slot="end">
            <ion-icon name="bookmark-outline"></ion-icon>
          </ion-button>
          <ion-badge color="tertiary" slot="end">34k</ion-badge>
        </ion-item>
      </ion-card>
      <ion-item class="card-item">
        <ion-icon style="margin-right: 0px;" slot="start" class="bigger"
          src="../../../assets/svg/chatbubbles-sharp.svg"></ion-icon>
        <ion-textarea [(ngModel)]="conversationDetail" style="padding-left: 10px;">
        </ion-textarea>
        <ion-icon slot="end" (click)="saveConversation(item.id)" name="send-outline"></ion-icon>
        <ion-icon slot="end" (click)="pickImage(item.id)" slot="end" name="image-outline"></ion-icon>
      </ion-item>
      <div *ngFor="let chat of item.chatResponse">
        <ion-item>
          <ion-avatar slot="start">
            <img class="ion-img-internal" src="{{chat.userProfilePic}}">
          </ion-avatar>
          <ion-label>
            <h2 class="ion-img-h2 ">{{chat.userDisplayName}} </h2>
            <p>{{chat.conversation}}</p>
          </ion-label>
        </ion-item>
      </div>

      <ion-fab *ngIf="showFabIcon" horizontal="start" vertical="top" slot="fixed">
        <ion-fab-button color="dark">
          <ion-icon md="caret-down" ios="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
          <ion-fab-button (click)="sharePrediction('facebook')" color="light">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="sharePrediction('twitter')" color="light">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="sharePrediction('instagram')" color="light">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="sharePrediction('google')" color="light">
            <ion-icon name="logo-google"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-slide>
  </ion-slides>

  <!-- <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <img class="card-img" src="../../../assets/img/madison.jpg" />
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
          Wisconsin Territory in 1836.
        </ion-card-content>
        <ion-item>
          <ion-badge color="tertiary" slot="end">34k</ion-badge>
        </ion-item>
      </ion-card>
      <ion-item class="card-item">
        <ion-icon style="margin-right: 0px;" slot="start" class="bigger"
          src="../../../assets/svg/chatbubbles-sharp.svg"></ion-icon>
        <ion-textarea style="padding-left: 10px;"></ion-textarea>
        <ion-icon slot="end" (click)="saveConversation()" name="send-outline"></ion-icon>
        <ion-icon (click)="pickImage()" slot="end" name="image-outline"></ion-icon>
        //<ion-icon slot="start" class="bigger"  src="../../../assets/svg/chatbubbles-sharp.svg"></ion-icon> 
    </ion-item>
    </ion-slide> -->




</ion-content>
<ion-footer slot="end" class="ion-no-border">
  <!-- <ion-toolbar>
    <ion-title>Footer - No Border</ion-title>
  </ion-toolbar> -->
  <!-- <ion-chip (click)="pickImage()" slot="end" color="dark">
    <ion-icon name="videocam"></ion-icon>
    <ion-label>Entertainment</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip> -->
</ion-footer>
<!-- <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <img src="../../../assets/img/madison.jpg" />
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
          </ion-card-content>
          <ion-item>
            <ion-badge color="tertiary" slot="end">34k</ion-badge>
          </ion-item>
        </ion-card>
        <ion-item>
          <ion-icon name="chatbubbles-outline"></ion-icon>
          <ion-textarea style="padding-left: 10px;"></ion-textarea>
        </ion-item>
      </ion-slide> -->